<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lu.pro.t.mapper.TDictionaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lu.pro.t.entity.TDictionary">
    <result column="id" property="id" />
    <result column="create_date" property="createDate" />
    <result column="create_by" property="createBy" />
    <result column="create_by_id" property="createById" />
    <result column="update_date" property="updateDate" />
    <result column="update_by" property="updateBy" />
    <result column="update_by_id" property="updateById" />
    <result column="is_delete" property="isDelete" />
    <result column="version" property="version" />
        <result column="code" property="code" />
        <result column="value" property="value" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_date,
        create_by,
        create_by_id,
        update_date,
        update_by,
        update_by_id,
        is_delete,
        version,
        code, value
    </sql>

</mapper>
