<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lu.pro.t.mapper.TFuncMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lu.pro.t.entity.TFunc">
    <result column="id" property="id" />
    <result column="create_date" property="createDate" />
    <result column="create_by" property="createBy" />
    <result column="create_by_id" property="createById" />
    <result column="update_date" property="updateDate" />
    <result column="update_by" property="updateBy" />
    <result column="update_by_id" property="updateById" />
    <result column="is_delete" property="isDelete" />
    <result column="version" property="version" />
        <result column="func_name" property="funcName" />
        <result column="func_code" property="funcCode" />
        <result column="func_type" property="funcType" />
        <result column="func_desc" property="funcDesc" />
        <result column="t_role_code" property="tRoleCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_date,
        create_by,
        create_by_id,
        update_date,
        update_by,
        update_by_id,
        is_delete,
        version,
        func_name, func_code, func_type, func_desc, t_role_code
    </sql>

</mapper>
